*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster Two', cursive;
    /* font-family: 'Roboto', sans-serif;
    font-family: 'Shantell Sans', cursive;
    font-family: 'Tilt Neon', cursive; */
}

.logo{
    border-right:2px solid #0079ff;
}
.mylogo{
    opacity: 0.8;
}

.wrapper{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #F0FFFF; */
    background-image: linear-gradient(270deg,#B9D9EB 0%,#0491c9 50%,#B9D9EB 100%);
   
}

.wrapper.dark{
    background-image: linear-gradient(270deg,white 0%,black 50%,white
    100%);
}
.container{
    min-width: 650px;
    width: 60%;
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    gap: 3.5vh;
    /* margin-bottom: 10vh; */
}
.container.dark{
    background-image: linear-gradient(270deg,white 0%,black 50%,white
    100%);

}
.header h1{
    cursor: pointer;
}

.header h1.dark{

    color: white;
}



.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2vh;
    /* background-color: #dae2da; */
    padding: 10px 20px;
    border-radius: 10px;

}
.header.dark{
    background-color: #36454F;
}

.header button{
    all: unset;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60px;
    padding: 12px 20px;
    background-color: #0079ff;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.imhead.dark{
    color: white;
}


.search{
    min-width: 650px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: #dae2da; */
    background-color:#B9D9EB;
    padding: 20px 20px;
    border-radius: 10px;

}

.search.dark{
    background-image: linear-gradient(270deg,white 0%,black 100%);
}
.search input{
    border: none;
    width: 100%;
    outline: none;
    background: none;
    color: black;
    font-size: 20px;
    padding-left: 10px;
    border-bottom: 2px solid #0079ff;

}

.username.dark{
    color: white;
}
.search img{
    width: 20px;
    align-self: center;
    height: 20px;
}


.search button{
    /* all: unset; */
    width: 100px;
    padding: 12px 20px;
    background-color: #0079ff;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.error{
    position: absolute;
    font-size: 13px;
    letter-spacing: 1px;
    user-select: none;
    color: black;
    right: 18%;
    bottom: 40%;
    opacity: 0.8;
    text-transform: capitalize;
}

.error.dark{
    color: white;
}

.main{
    display: flex;
    flex-direction: row;
    gap: 5%;
    background-color:#B9D9EB;
    padding: 20px 40px;
    border-radius: 10px;            
}
.main.dark{
    background-image: linear-gradient(270deg,white 0%,black 100%);
}

.imgcont{
    border-right: 2px solid #0079ff;
    
}

.main img{
    border-radius: 50%;
    margin-right: 5px;
    
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right{
    display: flex;

    flex-direction: column;
    /* gap: 50%; */
}
.line1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:5px 5px 20px 5px ;
}

.line1 .username{
    font-size:20px;
}
.line1 span{
    align-self: center;
    letter-spacing: 2px;
}

.line2{
    margin-bottom: 2%;
}
.line2 p{
    font-size: 20px;
    letter-spacing: 1px;
}

.highlights{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color:#94ccec;
    padding: 20px 10px;
    border-radius: 10px;   
}

.highlights.dark{
    background-color: black;
    color: white;
    opacity: 0.5;
}
.highlights h3{
    font-size: 20px;
    letter-spacing: 1px;

}

.imspan{
    /* margin: 0 auto; */
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
}

.links{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
   
}
.change.dark{
    color: white;
    font-weight: 800;
    font-size: 20px;
}
.change1.dark{
    color: white;
    font-weight: 800;
    font-size: 20px;
}
.change2.dark{
    color: white;
    font-weight: 800;
    font-size: 20px;
}
.change3.dark{
    color: white;
    font-weight: 800;
    font-size: 20px;
}
.links .line1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input1.dark{
    color: white;
}
.input1.dark::placeholder{
    color: white;
}

.links a{
    justify-self: flex-start;
    /* width: 50%; */
    font-weight: 800;
    font-size: 20px;
    text-decoration: none;
}
.website{
    width: 55%;
}

.company {
    width: 55%;
}

@media (max-width:600px){
    .container{
        width: 100vw;
        display: flex;
        flex-direction: column;
        gap: 3.50vh;
    }
    .header{
        display: flex;
        flex-direction: column;
        /* justify-content: space-evenly; */
        margin-top: 2vh;
        margin: 0 auto;

        /* background-color: #dae2da; */
        padding: 0px 0px;
        border-radius: 10px;
        width: 100vw;

    }
    .header h1{
        display: flex;
        width: fit-content;
        margin: 0 auto;
    }
    .header button{
        all: unset;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 60px;
        padding: 10px 20px;
        background-color: #0079ff;
        border: none;
        border-radius: 10px;
        color: white;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
        margin: 0 auto;
        /* margin-left: 50vw; */
    }
    .search{
        position: relative;
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 auto;
        /* background-color: #dae2da; */
        background-color:#B9D9EB;
        padding: 20px 20px;
        border-radius: 10px;
        gap: 20px;

    }

    .search .input1{
        text-align: center;
        width: 80vw;
        align-self: center;
    }

    .search button{
        align-self: center;
    }
    .error{
        /* display: block; */
        position: absolute;
        font-size: 13px;
        display: block;
        letter-spacing: 1px;
        user-select: none;
        color: black;
        right: 35vw;
        left: 38vw;
        text-align: center;
        margin-bottom: 2vh;
        bottom: 30%;
        opacity: 0.8;
        text-transform: capitalize;
    }

    .main{
        display: flex;
        flex-direction: column;
        gap: 50%;
        width: 100%;

        background-color:#B9D9EB;
        padding: 20px 40px;
        border-radius: 10px;     
    }

    .left{
        text-align: center; 
        border-bottom: 2px solid #0079ff;
    }

    .logo{
        display: none;
    }

    .line1{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 20px;
    }
    .partleft{
        align-self: center;
    }
    .partleft a{
        padding-left: 3vh;
    }

    .line2{
        text-align: center;
        padding-left: 100px;
        padding-right: 100px;
    }
    .highlights{
        width: 100vw;
        margin: 0 auto;

    }

    .links{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    #pg{

        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

    }

    .website{
        margin: 0 auto;
    }
    #pg1{

        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

    }

    .company{
        margin: 0 auto;
    }
    


}

@media (max-width:330px){
    .highlights{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        border-radius: 5vh;
    }

    .repos h3{
        padding-right: 32px;
        font-size: 20px;
    }
    .bio{
        padding-left: 10vh;
        padding-right: 10vh;
    }
}